
<div class="container">
  <div class="row">
    <div class="col-md-3 my-image-container">
      <img class="my-image" src="/assets/myImage.jpg" alt="my picture">
    </div>
    <div class="col-md-9 text">
        <h1>Holaa! </h1>
        <h4>My name is Archit Kwatra and I am currently pursuing Master of Computer Science from 
            North Carolina State University. <br>
            
            I have worked as a Software Engineer at TAIStech, a Dallas 
            based organisation, for two and a half years where my primary objective was to develop e-commerce 
            web applications in Angular using HTML and CSS. I was responsible for end-to-end development of 
            a couple of e-commerce web applications: DSW (https://www.dsw.com/en/us/) and 
            DXL (https://www.destinationxl.com/mens-big-and-tall-store). My responsibilities included 
            development of UI functionality for web platforms using Typescript by consuming REST APIs. 
            I created custom Angular components and directives for web applications and performed Unit Testing 
            on Angular’s unit testing environment - Jasmine/Karma. <br>  
            </h4>
            <h4>
            I am excited in being a front-end engineer because we can do pretty cool things and simultaneously see 
            those what those cool things can do. I feel front-end engineering is more dynamic in the sense that you
            dont have to wait for any one. <br>

            I developed my application the way I did because I have experience in Angular and I like to mix colors in real life as well.
            I generally choose vivid colors whenever I have a choice. Therefore, I chose some cool colors for the backgrounds.
            Also, I was planning to make a website for myself which will have my details and this project has given me a head start for the same.
            I would like to maintain this website in future as well and I plan to keep on adding more stuff in here about myself with time. <br>

            I have used Angular for because I like the single page applications' idea. By using single page applications, a lot functionalities can be added 
            which mimic the mobile application development as well. The single page applications are much faster as compared to conventional web applications.
            (at least for smaller applications). I also aim to learn and work on React as well as it is being used for mobile application development as well. 
            This will be a pretty huge gain in the industry in terms of mobile application development.     
            </h4>
    </div>
   </div>
</div>
