<div class="container-fluid main-container">
  <div class="row center">
    <div class="col-md">
        <h3>Hi! I am your FURRY friend "THE LLAMA"</h3>
    </div>
  </div>
   <div class="row">
    <div class="col-md">
        <app-carousal></app-carousal>
    </div>
   </div>
   <div class="row center">
    <div class="col-md learn-more">
        <button [routerLink] = "['aboutLlama']" href = "#" class = "btn btn-light">Learn More</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md facts">
        <ul>
            <li>
                <h4>
                    The llama is a domesticated South American camelid, widely used as a meat and 
                    pack animal by Andean cultures since the Pre-Columbian era.
                </h4>
            </li>
        
            <li>
                <h4>
                    Llamas are very social animals and live with others as a herd. Their wool is very 
                    soft and lanolin-free. Llamas can learn simple tasks after a few repetitions. 
                    When using a pack, they can carry about 25 to 30% of their body weight for 8 to 13 
                    km (5–8 miles). The name llama (in the past also spelled "lama" or "glama") was 
                    adopted by European settlers from native Peruvians.
                </h4>  
            </li>
            <li>
                <h4>
                    Llamas appear to have originated from the central plains of North America about 
                    40 million years ago. They migrated to South America about three million years ago 
                    during the Great American Interchange. By the end of the last ice age 
                    (10,000–12,000 years ago), camelids were extinct in North America. As of 2007, 
                    there were over seven million llamas and alpacas in South America, and due to 
                    importation from South America in the late 20th century, there are now over 158,000 
                    llamas and 100,000 alpacas in the United States and Canada.
                </h4>                
            </li>
        </ul>
        <p>Source: https://en.wikipedia.org/wiki/Llama</p>
    </div>
  </div>
</div>






